/* #contenedorPerdistesJuego{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    color: blue;
    margin-left: 750px;
    margin-top: 200px;
    transform: translate(-50%, -50%);
    font-size:120px;
    font-family: 'Montserrat', sans-serif;
	letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(164, 255, 45);
    text-shadow: 
						8px 8px #12421d,
						20px 20px #000000;;

} */

#contenedorPerdistesJuego{
    height: 100vh;
}
#fondo_perdistes{
    display: none;
    background-image: url(../imagenes/granja_abandonada.webp);
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center center;
    box-sizing: border-box;
}
/* #contenedorPerdistesJuego{
    
    background-color: red;
    width: 50vw;
    height: 30vw;
    margin-top: 8vw;
    margin-left: 25vw;
} */
#bienvenidosNivel2{
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
#perdistesNivel-1{
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
#reiniciarNivel{
    font-size: 1vw;
    margin: 0 8px;
    padding: 8px 16px;
    border-radius: 30%;
    font-family: 'Dancing Script', cursive;
}
#reiniciarNivel:hover{
    color: white;
    background-color: red;
    border: 1px solid white;
}

#salir{
    font-size: 1vw;
    margin: 0 8px;
    padding: 8px 16px;
    border-radius: 30%;
    font-family: 'Dancing Script', cursive;
}
#salir:hover{
    color: white;
    background-color: red;
    border: 1px solid white;

}